<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <!-- Navigation-->

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi, I'm Aditya Agarwal, a passionate tech enthusiast and aspiring Python Developer currently pursuing a Bachelor of Technology in Artificial Intelligence. My journey in the tech world has been fueled by my curiosity for innovation, problem-solving, and building practical solutions through coding. I’ve completed various projects ranging from automated bots to FastAPI applications, constantly pushing the boundaries of what’s possible with technology.</p>
                        <p>Apart from my academic pursuits, I enjoy venturing into entrepreneurial projects, aiming to bring fresh ideas to life. My interests extend beyond the screen—I love going on adventurous bike rides, trekking through nature, hitting the gym, and finding new challenges that push me to grow.</p>
                        <p>Whether it's through coding, entrepreneurship, or personal growth, I am always on the lookout for opportunities to learn, create, and make a meaningful impact. Let's connect and explore the limitless possibilities of technology together!</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
    </body>
</html>
